<h3> User VMs </h3>
<div *ngFor="let vm of (vms | async)">
  <pre>
    {{ stringify(vm) }}
  </pre>
  <div *ngFor="let event of (events | async)">
    {{ stringify(event) }}
  </div>
  <div>{{ test }}</div>
  <div>{{ test2 }}</div>
  <div>{{ test3 }}</div>
  <div>{{ subtest }}</div>
  <div>{{ etest }}</div>
  
  <div class="actions">
    <button *ngIf="!vm.running" (click)="start(vm)">Start</button>
    <button *ngIf="vm.running" (click)="stop(vm)">Stop</button>
    <button *ngIf="vm.type < 3" (click)="upgrade(vm)">Upgrade</button>
    <button *ngIf="vm.type > 1" (click)="downgrade(vm)">Downgrade</button>
    <button (click)="delete(vm)">Delete</button>
  </div>
</div>
